@mixin container($width: 100%, $heigth: auto) {
  width: $width;
  height: $heigth;
}

@mixin flex-container(
  $display: flex,
  $flex-direction: row,
  $justify-content: flex-start,
  $align-items: flex-start,
  $gap: 0
) {
  display: $display;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}
