@mixin container($width: 100%, $heigth: auto) {
  width: $width;
  height: $heigth;
}

@mixin flex-container(
  $display: flex,
  $direction: row,
  $justify: center,
  $align: center,
  $gap: 0px
) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}
