@import "../../assets/css/mixin.scss";

.TodoList {
  @include container(100%, 85vh);
  background-color: #fff;
  border-top-left-radius: 30px;

  .Wrapper {
    @include container(90%, 100%);
    @include flex-container(flex, column, center, flex-start, 2rem);
    margin: 0 auto;
    padding-top: 1rem;
    color: #000;

    .List {
      @include container(100%, 70vh);
      @include flex-container(flex, column, flex-start, flex-start, 1rem);
      overflow-y: auto;
      margin-bottom: 1.4rem;
    }
  }
}
