@import "../../assets/css/mixin.scss";

.Hero {
  @include container(100%, auto);

  .Wrapper {
    @include flex-container(flex, row, space-between, center, 1rem);
    width: 90%;
    height: 15vh;
    margin: 0 auto;
    padding: 2rem 0rem;
    color: #fff;
  }

  .Info {
    @include flex-container(flex, column, center, flex-start);

    .TaskCount {
      padding-top: 0;
      color: #eee;
    }
  }

  .Day {
    text-transform: uppercase;
  }
}
