@import "../../css/mixin.scss";

.FoodList {
  @include container(100%);
  @include flex-container(flex, row, center, stretch, 1rem);
  position: absolute;
  bottom: 150px;

  .ActionBtn {
    @include flex-container(flex, row, center, center);
    width: 50px;
    height: 50px;
    padding: 12px 10px;
    border: 0;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
    z-index: 1;

    transition: all 0.1s ease-in;

    &:active {
      background-color: #ffebb7;
    }

    img {
      width: 50px;
      height: 50px;
      object-fit: contain;
    }

    .item {
      width: 50px !important;
      height: 50px !important;
    }
  }
}
