@import "../css/mixin.scss";

.Homepage {
  @include container(100%, 100%);
  @include flex-container(flex, column, flex-start, flex-start);
  margin-top: 1rem;

  .Container {
    @include container(90%);
    @include flex-container(flex, column, flex-start, flex-start);
    margin: 0 auto;
  }

  .UserProfile {
    @include container(100%);
    @include flex-container(flex, row, center, flex-end);

    .StarterSection {
      @include container(70%, 100%);
      @include flex-container(flex, column, flex-start, flex-start, 0);
      position: relative;
      z-index: 2;

      p {
        margin: 0;
      }

      .StarterPic {
        width: 70%;
        height: auto;
        object-fit: cover;
        transform: translate(150%, -10%);
        z-index: 2;
      }

      .PlayBtn {
        @include flex-container(flex, row, center, center, 5px);
        position: absolute;
        bottom: 50px;
        padding: 10px;
        border: 0;
        border-radius: 12px;
        color: #fff;
        font-weight: 700;
        transform: translate(0, 10%);
      }
    }

    .TrainerPic {
      width: 70%;
      height: 400px;
      object-fit: contain;
      transform: translate(10%);
      z-index: 1;
    }
  }
}

@media only screen and (min-width: 768px) {
  .Homepage {
    justify-content: center;
  }

  .Container {
    width: 40%;
    max-width: 1440px;
    font-size: 1rem;
  }

  .UserProfile {
    align-items: center;
  }

  .StarterSection {
    .PlayBtn {
      position: static !important;
      bottom: 0 !important;
      transform: none !important;
    }

    .StarterPic {
      width: 200px !important;
      height: auto !important;
      transform: translate(420%, -80%) !important;
    }
  }
  .TrainerPic {
    transform: translate(0, -40%) !important;
  }
}
