@import "../css/mixin.scss";

.Game {
  @include container(100%, 100%);
  @include flex-container(flex, column, center, center);

  .BackgroundGame {
    @include container(100%, 100%);
    @include flex-container(flex, column, center, center);
    position: relative;

    img {
      @include container(100%, 100%);
      object-fit: cover;
      position: fixed;
      z-index: 0;
    }
  }

  .Starter {
    @include container(100%);
    @include flex-container(flex, row, center, center);

    img {
      width: 100%;
      height: auto;
      max-height: 250px;
      object-fit: contain;
    }

    .item {
      width: 50px;
      height: 50px;
    }

    .Jumping {
      animation: jump 0.5s infinite;
    }

    .Eat {
      animation: eat 0.5s linear forwards;
    }

    .Throw {
      animation: throw 0.5s linear forwards;
    }

    .Catching {
      animation: catching 0.5s linear forwards;
    }

    .Shake {
      width: 80px;
      height: 80px;
      bottom: 320px;
      animation: shake 0.5s linear infinite;
    }

    @keyframes jump {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-10px);
      }
      100% {
        transform: translateY(0);
      }
    }
  }

  @keyframes eat {
    0% {
      transform: scale(100%);
    }

    100% {
      transform: scale(0%);
    }
  }

  @keyframes throw {
    0% {
      transform: translateY(500px) scale(0%);
    }

    100% {
      transform: translateY(100px);
      width: 80px;
      height: 80px;
    }
  }

  @keyframes catching {
    0% {
      transform: scale(100%);
    }

    100% {
      transform: scale(0%);
    }
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
    75% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
